<mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>NBA News</mat-card-title>
      <mat-card-subtitle>Angular, RxJs, Material</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image draggable="false" src="../../../assets/img/nba-mob.png" alt="Preview of the app">
    <mat-card-content>
      <p>
        My JavaScript bootcamp final project, a SPA that shows the last news from NBA world. Started with the UI design in Figma, implemented routes to display the different views, services with the HttpClient module to get data from API, a search feature to find players, teams, news and scores. In the time I added new features or improved the code quality.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.figma.com/file/zXa5Q8IpAgz19Uqle2R4NH/Serwis-NBA?type=design&node-id=0%3A1&mode=design&t=QtLDPxJ0HFTGQ87l-1" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to design" fontIcon="devices">design_services</mat-icon>
      </a>
      <a href="https://gitlab.com/franckyiside/nba-app" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to website or app" fontIcon="devices">devices</mat-icon>
      </a>
      <a href="https://nba.franckyiside.eu/" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to code repository" fontIcon="code">code</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>  