.header-angular {
    background-image: url('../../../../assets/img/angular.svg');
    background-size: cover;
    border:  1px solid grey;
}

.header-html {
    background-image: url('../../../../assets/img/html5.svg');
    background-size: cover;
    border:  1px solid grey;
}

.mat-card {
    max-width: 400px;
    border-radius: 20px;
    &:hover {
        scale: 1.05;
        box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: .3);
    }
}

.mat-card-actions > a {
    margin-right: 10px;
}