<mat-card>
    <mat-card-header>
      <div mat-card-avatar [class]="headerClass"></div>
      <mat-card-title>{{project?.title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image draggable="false" src="../../../{{project?.avatarSrc}}" alt="Preview of the app">
    <mat-card-content><p>{{project?.desc}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="project?.designUrl" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to design" fontIcon="devices">design_services</mat-icon>
      </a>
      <a [href]="project?.gitUrl" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to website or app" fontIcon="devices">devices</mat-icon>
      </a>
      <a [href]="project?.liveUrl" target="_blank">
        <mat-icon aria-hidden="false" aria-label="Link to code repository" fontIcon="code">code</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>