<mat-card *ngFor="let project of projects">
  <div class="project__header">
    <h3 class="project__title">{{project?.title}}</h3>
    <span class="project__subtitle">{{project?.subtitle}}</span>
  </div>
  <img mat-card-image draggable="false" src="../../../{{project?.imgSrc}}" alt="Preview of the app">
  
  <mat-card-content>{{project?.desc}}</mat-card-content>

  <mat-card-actions>
    <a *ngIf="project.designUrl" [href]="project?.designUrl" target="_blank">
      <mat-icon aria-hidden="false" aria-label="Link to design" fontIcon="devices">design_services</mat-icon>
    </a>
    <a *ngIf="project.gitUrl" [href]="project?.gitUrl" target="_blank">
      <mat-icon aria-hidden="false" aria-label="Link to code repository" fontIcon="code">code</mat-icon>
    </a>
    <a *ngIf="project.liveUrl" [href]="project?.liveUrl" target="_blank">
      <mat-icon aria-hidden="false" aria-label="Link to website or app" fontIcon="devices">devices</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>