@import '../sass/colors';

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    gap: 2em;
}

.intro {
    padding: 2em;
    background: #fafafa;
    p {
        max-width: 990px;
        margin: 0 auto;
        font-size: 19px;
        font-weight: lighter;
        line-height: 32px;
        color: $color-dark;
    }
}