@import '../../../sass/colors';

.mat-toolbar {
  display: flex;
  background: $color-dark;
  color: aliceblue;
  justify-content: space-around;
  gap: 20px;
  padding: 0 25px;
}

.spacer {
  flex: 1 1 auto;
}